{% extends 'base.html.twig' %}

{% block title %}edit{% endblock %}

{% block body %}
	
                
     <p> {{ product.name }}  </p>
     <p> {{ product.price }} </p>
                
       
{% endblock %}